html, body 
{
    width: 100% !important;
}
/* --------------------------------------------------------------------------------- */
.btn-one {
	color: #FFF !important;
	transition: all 0.3s;
  position: fixed;
  right: 2%;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.navIcon
{
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 2;
}

.navIcon:hover
{
    color: black;
}

.fafa-xing {
    position: absolute;
    left: 2%;
    top : 2%;
    opacity: 1;
    z-index: 10;
    color: #818181;
    font-size: 6vh;
  }

/* -------------------------------------------------------------------------------- */

/* ------------------------------------Sliding bar animation-------------------------------------------- */
ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  ul li {
    list-style: none;
  }
  ul li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
  }
  ul li:hover::before {
    opacity: .05;
    letter-spacing: 5px;
  }
  ul li a {
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: inherit;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  ul:hover li a {
    opacity: 0;
  }
  ul li a:hover {
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
  }
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
  }
  ul li a:hover::before {
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
  }
/* ------------------------------------Sliding bar animation-------------------------------------------- */


/* -------------------------------------------------------------------------------- */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* ------------------------------- */


.footerN
{
    background-color:#1a1a1a;
    position: relative;
    height: 50vh;
    display: block;
    padding: 23px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footerlorem
{
  font-size: 20px;
  line-height: 4;
}

.footerBrand
{
  width: 7%;
  opacity: 1;
}

.footerIcon
{
    height: 17px;
    margin: auto 0.9%;
    filter: invert(100%);
}

.copyright
{
    margin: 0.5%;
    color: white;
    font-size: 10px;
}
 .cardBody
 {
    line-height: 0.7rem;
 }

 .cardBody p
 {
    margin-top: 30px;
 }

 .columnMargin
 {
    margin-top: 6%;
 }

 .feedbackSection
{
  display: flex;
  height: 100vh;
  width: 98vw;
  justify-content: center;
  background-image: linear-gradient(120deg,rgba(255,255,255,0.9) 50%, transparent 50%),url(https://images.pexels.com/photos/3136403/pexels-photo-3136403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=720&w=1260);
  background-size: 100% 100%;
}


 .feedbackRow
 {
    /* background-color: white !important; */
    border: solid 2px black;
    width: 60vw;
    height: 60vh;
    margin: 9% !important;
    background-color: hsla(360, 100%, 100%, 0.6);
    
 }

 .feedbackHeader
 {
     color: #1a1a1a;
     padding-top: 5%;
     padding-left: 10%;
 }
 
 .headerRuleFeedback
 {
    border-top: 1px solid gray;
    border-width: thin;
    width: 80px;
    display: inline-block;
    margin-left: 11%;
 }

 .formButton
 {
     margin-left: 10%;
     border-radius: 0px !important;
     margin-bottom: 5%;
 }


 .feedbackTextarea
 {  
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-left: 1%;
    background-color: inherit !important;
    border:none !important;
    border-left: solid 1px #1a1a1a !important;
    padding-left: 5%;
 }

 .feedbackTextarea::placeholder
 {
    color: #1a1a1a;
 }

 .feedbackTextarea:focus
 {
    outline: none;
    color: #1a1a1a;
 }

 .form-control
 {
     width: 80% !important;
 }

 .formInput
 {
    background-color: inherit !important;
    border: none !important;
    border-bottom: solid 1px gray !important;
    border-radius: 0px !important;
    color: #1a1a1a !important;
 }

 .formInput::placeholder
 {
     color: #1a1a1a !important;
 }

 .formInput:focus
 {
    color: #1a1a1a !important;
    outline: white !important;
 }

.profileImageCss
{
    margin-left: 35%;
    height: 110%;
    width: 50%;
    border-style: solid;
    border-radius: 100%;
}

.skillsRow
{
    margin-top: 2%;
    text-align: center;
    padding : 5%;
}

.skillsImg
{
    height: 60px;
    width: 60px;
}

.skillsItem
{
    border: 15%;
}

/* ----------------------------floating contact display-------------------------------- */

/* Home Page Introduction */
.first
{
  margin-right: 19.8%;
  margin-bottom: 0;
  color: #bbbfca;
}

.second
{
  margin-right: 1.2%;
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 50px;
  color: #bbbfca;
}

.third
{
  margin-top: 5px;
  margin-right: 7.2%;
  font-size: 20px;
  color: #bbbfca;
}

.buttonIntro
{
  margin-top: 15px;
  margin-right: 8%;
  width: 14%;
}


.HomePageIntroduction
{
  background-color:#1a1a1a;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.projectsHome
{
  /* position: relative;
  display: block;
  height: 400px;
  background-color: black;
  background-image: linear-gradient(90deg, red, blue); */
  background-color: rgb(34, 34, 34);
}

/* .projectsHome:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: linear-gradient(transparent, black);
} */


/* Profile Section */
.profileSection
{
  background-color: rgb(34, 34, 34);
  opacity: 0.8;
  border: solid 1px black;
  margin: 4%;
  padding: 3%;
  width: 70vw;
  border-radius: 20px;
}

.profileContainer
{
  background: url("");
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: #1a1a1a;
  background-size: 100% 100%;
}

.profileSection hr
{
  border-color: black;
}

.profileSection h2
{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 40px;
}

.headerP
{
  font-family: 'Open Sans', sans-serif;
  color: rgb(180, 180, 180) !important;
  font-size: 20px;
}

.homedata
{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14px !important;
}

.profilepicture
{
  border: solid 2px;
  margin-left: 30px !important;
}

.ProfileDataHeader
{
  /* color: rgb(119, 118, 118); */
  color: white;
}

.ProfileDataIcon
{
  color: rgb(170, 170, 170);
}

.ProfileData
{
  width: 56% !important;
  color: white;
}

table
{
  width: 170%;
}

.row
{
  margin: 2%;
}

.lorem
{
  /* color: #111; */
  color: white;
  text-align: left;
}

.resumeSection
{
  margin-top: 5%;
  margin-bottom:5%;
  padding: 8% 12% !important;
  border: solid 1px;
  width: 80vw !important;
  height: auto !important;
  
}

.resumeSection .row h2
{
  /* color: rgb(209, 208, 208); */
  color: #1a1a1a;
}

.resumeSection h2
{
  /* color: rgb(209, 208, 208); */
  color: #1a1a1a;
}

.resumeSection hr
{
  /* border-color: white; */
  border-color: black;
}

.skillsColumn
{
  border-left: solid 1px;
}

.degree
{
  color: rgb(95, 95, 95);
  margin-bottom: 0;
}

.school
{
  color: rgb(95, 95, 95);
}

.resumeValues
{
  color: rgb(95, 95, 95);
}

/* Projects Tab */
.food-menu {
  padding-bottom: 40px;
  text-align: center;
}

.food-menu h2 {
  color: #666;
  margin: 30px auto 30px auto;
}

.menu-item {
  position: relative;
  margin: 15px auto 15px auto;
  text-align: center;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(360, 100%, 100%, 0.10);
}

.pasta {
  background-image: url("");
  background-color: rgb(34, 34, 34);
  opacity: 0.8;
}

.menu-item p
{
  color: #fff;
  font-size: 5vh;
  text-align: left;
  padding-left: 4%;
  
}


.first-frame {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 83%;
  height: 81%;
  border: 2px solid #f6bbbb;
  z-index: 1;
  opacity: 0;
}

.first-frame p {
  color: #d9d9d9;
  padding-top: 60%;
}

.second-frame {
  position: absolute;
  top: 51%;
  left: 9%;
  border-left: 1px #f6bbbb solid;
  height: 40%;
  z-index: 1;
  opacity: 0;
}

.second-frame p {
  color: #f6bbbb;
  font-size: 20px;
  padding-left: 6%;
  padding-bottom: 20%;
}

.pasta:hover .second-frame {
  opacity: 1;
}

.pasta span {
  transition: transform 900ms ease-in-out;
}

.pasta:hover span {
  transform: scale(1.5, 1.5) translateX(-12%) translateY(395%);
}

.pasta:hover {
  opacity: 0.7;
}



@keyframes mydecor {
  from {
    width: 1%;
  }
  to {
    width: 85%;
  }
}
@media /* medium */ (min-width: 451px) {
  .food-menu {
    padding-bottom: 50px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1589526603318-2c0ba291ffc0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  }
  .food-menu h2 {
    margin: 60px auto 40px auto;
  }
  .menu-item {
    width: 400px;
    height: 400px;
    margin: 50px auto 50px auto;
  }
  .menu span {
    left: 36%;
  }
  .second-frame p {
    font-size: 24px;
    padding-left: 20%;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-14%) translateY(550%);
  }
  .second-frame {
    left: 8%;
    border-left: 2px #f6bbbb solid;
  }
}
@media /* large */ (min-width: 769px) {
  .food-menu {
    padding-bottom: 80px;
    text-align: center;
  }
  .food-menu h2 {
    margin: 80px auto 40px auto;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .menu-item {
    width: 250px;
    height: 250px;
  }
  .menu span {
    left: 30%;
  }
  .second-frame p {
    font-size: 16px;
    padding-left: 17%;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-4%) translateY(350%);
  }
}
@media /* extra-large */ (min-width: 1025px) {
    .food-menu {
    padding-bottom: 100px;
  }
  .food-menu h2 {
    margin: 60px auto 40px auto;
  }
  .menu-item {
    width: 300px;
    height: 300px;
  }
  .menu-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .menu span {
    left: 32%;
  }
  .second-frame p {
    font-size: 17px;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-12%) translateY(450%);
  }
}

.projectLI li
{
  list-style:square;
  color: black !important;
}

.projectContainer
{
  padding: 8%;
  padding-left: 4% !important;
  padding-right: 18% !important;
}

.projectContainer h2
{
  padding-left: 2%;
}

.projectXbutton
{
  position: absolute;
  left: 10%;
  bottom: 28%;
  width: 25vh;
}

/*  */

